<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Brawler</title>
    <link rel="stylesheet" th:href="@{vendor/bootstrap/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{vendor/fontawesome-free/css/all.css}"/>
    <link rel="stylesheet" th:href="@{css/main.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">

</head>
<body>

<h1>INDEX</h1>
<button onclick="notifyMe()">Notify me!</button>
<a th:href="@{/login}">login</a>
<a th:href="@{/logout}">logout</a>
<a th:href="@{/users}">users</a>

<table>
    <th:block th:each="user : ${users}">
        <tr>
            <td th:text="${user.email}">...</td>
            <td th:text="${user.time}">...</td>
            <td th:text="${user.sessionId}">...</td>
        </tr>
    </th:block>
</table>

<script th:src="@{js/main.js}"></script>
<script th:src="@{js/nofifications.js}"></script>
</body>
</html>
