<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>Welcome!</h1>
<div th:switch="${loggedIn}">
    <p th:case="false">Click <a th:href="@{/login.html}">here</a> to log in.</p>
    <p th:case="true">Click <a th:href="@{/logged-out.html}">here</a> to log out.</p>
</div>
<p>Click <a th:href="@{/register.html}">here</a> to register.</p>
<h3>Active users: </h3>
<div th:each="user : ${users}">
    <span>Email: <a href="#" th:text="${user.getEmail()}">Title ...</a></span>
    <span>Roles: <a href="#" th:text="${user.getRoles()}">Title ...</a></span>
    <span>Session ID: <a href="#" th:text="${user.getSessionId()}">Title ...</a></span>
</div>
</body>
</html>