<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>.:Jolly Junk:.</title>

    <link rel="stylesheet" th:href="@{css/fullcalendar.css}"/>
    <link rel="stylesheet" th:href="@{css/calendarCSS.css}"/>
    <link rel="stylesheet" th:href="@{vendor/bootstrap/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{vendor/fontawesome-free/css/all.css}"/>
    <link rel="stylesheet" th:href="@{css/main.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
    <script th:inline="javascript">
        /*<![CDATA[*/

        var apitokenpapi = /*[[${apitokenpapi}]]*/ null;

        /*]]>*/
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body class="override" id="page-top" ng-app="addressAPI" ng-controller="addressSearch" style="padding: 0">
<section class="resume-section p-3 p-lg-5 d-flex d-column" id="start" style="margin: auto">
    <div class="container">
        <!-- HEADER-->
        <div class="row" style="width: 100%">
            <div class="col-md-6">
                <h1 class="mb-0"> Jolly <br> Junk </h1>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-2">
                <form th:action="@{/logout}" style="border: 0">
                    <button class="override" type="submit"
                            style="background-color:rgb(210,114,101); border-radius: 15px;">Logga ut
                    </button>
                </form>
            </div>
        </div>

        <hr size="15px">

        <div class="row">
            <!-- LISTING USERS -->
            <div class="col-md-5">
                <h3 class="mb-4" style="text-align: center; padding: 20px; margin-top:40px">Användare:</h3>
                <div th:each="contact: ${userinfo.getContacts()}">
                    <button type="button" name="name" class="override"
                            style="background-color:rgb(87,81,105); border-radius: 15px;" data-toggle="collapse"
                            th:data-target="${contact.getIdentifier(true)}">
                        <img th:if="${contact.getType() == 'User'}" th:src="@{images/user.svg}"
                             style="width: 32px; height: 32px; float: left">
                        <label th:text="${contact.getFirstname() + ' ' + contact.getLastname()}"
                               style="float: right"></label>
                    </button>


                    <!-- EDIT EXISTING CONTACTS -->
                    <form class="collapse" th:id="${contact.getIdentifier(false)}" th:action="@{/changeuserinfo}"
                          method="post" style="border: 0;">
                        <div>
                            <input type="text" name="contactid" style="display:none;"
                                   th:value="${contact.getContactid()}">
                            <p><input type="text" placeholder="Förnamn" name="firstname" required
                                      th:value="${contact.getFirstname()}"></p>
                            <p><input type="text" placeholder="Efternamn" name="lastname" required
                                      th:value="${contact.getLastname()}"></p>
                            <p><input type="text" placeholder="E-post" name="email" required
                                      th:value="${contact.getEmail()}"></p>
                            <p>Önskar även SMS-avisering <input type="checkbox" class="smsEdit">
                            </p>

                            <p class="smsEditInput" style="display:none"><input type="text" placeholder="XXX-XXXXXXX"
                                                                           th:value="${contact.getCellnumber()}" name="cellnumber"></p>


                            <!-- BUTTONS FOR SAVE AND DELETE CONTACT -->
                            <div class="form-row">
                                <div class="col">
                                    <button class="override"
                                            style="background-color:rgb(228,214,71); border-radius: 15px;"
                                            type="submit">Skicka
                                    </button>
                                </div>
                                <div class="col">
                                    <a th:if="${contact.getType() == 'User'}"
                                       th:href="@{/changepassword}"
                                       style="background-color:rgb(210,114,101); border-radius: 15px; float: left;"
                                       class="override  buttonlike">Ändra lösenord</a>
                                    <a th:if="${contact.getType() != 'User'}"
                                       th:href="${'deletecontact/' + contact.getContactid()}"
                                       style="background-color:rgb(210,114,101); border-radius: 15px; float: left;"
                                    class="override  buttonlike">Ta bort användare</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div>

                    <button type="button" name="name" class="override"
                            style="background-color:rgb(228,214,71); border-radius: 15px;" data-toggle="collapse"
                            data-target="#userAddForm">Lägg till användare
                    </button>


                    <!-- ADD CONTACTS -->
                    <form class="collapse" id="userAddForm" th:action="@{/addcontactinfo}" method="post"
                          name="addContactForm" style="border: 0;">
                        <div>
                            <p><input type="text" placeholder="Förnamn" name="firstname" required></p>
                            <p><input type="text" placeholder="Efternamn" name="lastname" required></p>
                            <p><input type="email" placeholder="E-post" name="email" ng-model="email" required></p>
                            <div ng-if="!!addContactForm.email.$touched && !!addContactForm.email.$invalid">
                                <small style="color: red;">Eposten ska skrivas in enligt användarnamn@domän.topdomän
                                </small>
                            </div>
                            <p>Önskar även SMS-avisering <input type="checkbox" id="smsAdd" onclick="smsBoxAdd()">
                            </p>

                            <p id="smsAddInput" style="display:none"><input type="text" placeholder="XXX-XXXXXXX"
                                                                           name="cellnumber"></p>

                            <!-- BUTTONS FOR SAVE AND DELETE CONTACT -->
                            <div class="form-row">
                                <div class="col">
                                    <button class="override"
                                            style="background-color:rgb(228,214,71); border-radius: 15px;"
                                            type="submit">Skicka
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-6">
                <h3 class="mb-4" style="text-align: center; padding: 20px; margin-top:40px">Adresser:</h3>
                <div th:each="address: ${userinfo.getAddresses()}">
                    <button type="button" name="name" class="override"
                            style="background-color:rgb(87,81,105); border-radius: 15px;" data-toggle="collapse"
                            th:data-target="${address.getIdentifier(true)}">
                        <label th:text="${address.getStreetname() + ' ' + address.getStreetnumber() +  ', ' + address.getCity()}" style="float:left"></label>
                        <label th:text="${address.getLastDate() != null} ? ${address.getLastDate()} : 'Okänd nästa hämtningsdag'"style="float:right"></label>
                    </button>

                    <!-- EDIT EXISTING ADDRESSES-->
                    <form class="collapse" th:id="${address.getIdentifier(false)}" th:action="@{/changeaddressinfo}"
                          method="post" style="border: 0">
                        <div>
                            <input type="text" name="addressid" style="display:none;"
                                   th:value="${address.getAdressid()}">
                            <p><input type="text" placeholder="Gatunamn" name="streetname" required
                                      th:value="${address.getStreetname()}"></p>
                            <p><input type="text" placeholder="Gatunummer" name="streetnumber" required
                                      th:value="${address.getStreetnumber()}"></p>
                            <p><input type="text" placeholder="Postnummer" name="zipcode" required
                                      th:value="${address.getZipcode()}"></p>
                            <p><input type="text" placeholder="Ort" name="city" required
                                      th:value="${address.getCity()}">
                            </p>
                            <!-- BUTTONS FOR SAVE AND DELETE CONTACT -->
                            <div class="form-row">
                                <div class="col">
                                    <button class="override"
                                            style="background-color:rgb(228,214,71); border-radius: 15px;"
                                            type="submit">Skicka
                                    </button>
                                </div>
                                <div class="col">
                                    <a th:href="${'deleteaddress/' + address.getAdressid()}"
                                       style="background-color:rgb(210,114,101); border-radius: 15px; float: left;"
                                       class="override  buttonlike">Ta bort adress</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div>
                    <button type="button" name="name" class="override"
                            style="background-color:rgb(228,214,71); border-radius: 15px;" data-toggle="collapse"
                            data-target="#addressAddForm">Lägg till adress
                    </button>


                    <!-- ADD ADDRESSES -->
                    <form class="collapse" id="addressAddForm" th:action="@{/addaddressinfo}" method="post"
                          style="border: 0;">
                        <div>
                            <p><input type="text" placeholder="Gatunamn" name="streetname" required></p>
                            <p><input type="text" placeholder="Gatunummer" name="streetnumber" required></p>
                            <p><input type="text" placeholder="Postnummer" name="zipcode" required></p>
                            <p><input type="text" placeholder="Ort" name="city" required></p>

                            <!-- BUTTONS FOR SAVE AND DELETE CONTACT -->
                            <div class="form-row">
                                <div class="col">
                                    <button class="override"
                                            style="background-color:rgb(228,214,71); border-radius: 15px;"
                                            type="submit">Skicka
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</section>
<!-- CALENDAR -->
<hr>
<section class="resume-section p-3 p-lg-5 d-flex d-column" style="margin: auto">
    <div id="calendar"></div>
</section>


</div>
<script>
    function myFunction() {
        var checkBox = document.getElementById("myCheck");
        var text = document.getElementById("inputField");
        if (checkBox.checked == true) {
            text.style.display = "block";
        } else {
            text.style.display = "none";
        }
    }
    function smsBoxAdd() {
        var checkBox = document.getElementById("smsAdd");
        var text = document.getElementById("smsAddInput");
        if (checkBox.checked == true) {
            text.style.display = "block";
        } else {
            text.style.display = "none";
        }
    }
    function smsBoxEdit() {
        var checkBox = document.getElementById("smsEdit");
        var text = document.getElementById("smsEditInput");
        if (checkBox.checked == true) {
            text.style.display = "block";
        } else {
            text.style.display = "none";
        }
    }
</script>
<script>
    function myFunction2() {
        var checkBox = document.getElementById("myCheck2");
        var text = document.getElementById("inputField2");
        if (checkBox.checked == true) {
            text.style.display = "block";
        } else {
            text.style.display = "none";
        }
    }
</script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var allJunkDays = /*[[${allJunkDays}]]*/'default';
    /*]]>*/
</script>
<script>
    $(document).ready(function () {
        $('#calendar').fullCalendar({
            themeSystem: 'bootstrap4',
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay,listMonth'
            },
            locale: 'sv',
            weekNumbers: true,
            eventLimit: true,
            events: allJunkDays
        });
    });
</script>
<script th:src="@{vendor/jquery/jquery.min.js}"></script>
<script th:src="@{js/moment.min.js}"></script>
<script th:src="@{vendor/jquery-easing/jquery.easing.js}"></script>
<script th:src="@{vendor/bootstrap/js/bootstrap.bundle.js}"></script>
<script th:src="@{js/fullcalendar.min.js}"></script>
<script th:src="@{js/sv.js}"></script>
<script th:src="@{js/angular.min.js}"></script>
<script th:src="@{js/addressAPI.js}"></script>
<script th:src="@{js/main.js}"></script>
<script>
    $('#start').on('click', '.smsEdit', function(e) {
        var $input = $(this).closest('form').find('.smsEditInput');

        if($(this).is(':checked')) {
            $input.show();
        } else {
            $input.hide();
        }
    });
</script>
</body>
</html>




