<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Garbage chief</title>
    <link href="home.css" rel="stylesheet">
</head>
<body>
<h2>Hello garbage-man, control your area below!</h2>
<h3>Add new area</h3>
<div class="superuser">
    <form>
        <input type="text" name="newstreet" placeholder="Enter new street"><input type="text" name="streetnumber" placeholder="Enter house number"> Insert numbers in format x-xx, eg. 1-46. Endast udda/jämna?<br>
        <input type="text" name="emptydate" placeholder="Add empty date here"> Date format YYYY-MM-DD<br>
        <select name="Intervall">
            <option value="1week">Every week(7 days)</option>
            <option value="2week">Every 2nd week(14 days)</option>
            <option value="3week">Every 3rd week(21 days)</option>
            <option value="4week">Every 4th week(28 days)</option>
        </select> Empty intervall<br>
        <input type="password" name="password" placeholder="Enter password to confirm"> Confirm with password?<br>
        <input type="submit" value="Update info">
    </form>
</div>
<script src="home.js"></script>
</body>
</html>