<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>Welcome!</h1>
<p>Click <a th:href="@{/login.html}">here</a> to log in.</p>
<p>Click <a th:href="@{/register.html}">here</a> to register.</p>
<div th:each="user : ${users}">
    <span th:text="${user.email}">1</span>
    <span><a href="#" th:text="${user.password}">Title ...</a></span>
</div>
</body>
</html>